    prefer-no-csd
    screenshot-path null

    environment {
        ELECTRON_OZONE_PLATFORM_HINT "auto"
        QT_QPA_PLATFORM "wayland"
        QT_QPA_PLATFORMTHEME "gtk3"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        XDG_CURRENT_DESKTOP "niri"
        XDG_SESSION_TYPE "wayland"
    }

    cursor {
        xcursor-theme "capitaine-cursors"
        xcursor-size 24
        hide-when-typing
    }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
    }

    hotkey-overlay {
       skip-at-startup
    }

    blur {
    // Reduziert die Intensität auf ein Minimum (Standard: 3)
    passes 2

    // Verringert die Ausdehnung des Effekts (Standard: 3.0)
    offset 1

    // Verhindert Farbabstufungen bei geringem Blur
    noise 0.01

    // Belässt die Farben im Hintergrund natürlich
    saturation 1.0
}
